<script src="https://kit.fontawesome.com/7ba2214bf9.js" crossorigin="anonymous"></script>
<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
    </head>

    <body>
      <nav>
        <div>
          <!-- Home page -->
          <a href="/foodies/"><i class="bi bi-house-door"></i></a>
          
          <!-- Add a meal Page  -->
          <a href="/foodies/new"><i class="fa-solid fa-circle-plus"></i></a>
          <!-- All profiles page -->
          <a href="/profiles"><i class="fa-solid fa-user-group"></i></a>
        </div>

        <h1 class="nav-h1">Foodie Buds</h1>
        <div class="right-nav">

          <h4>Hey, <%= user ? user.profile.name : "Foodie Bud!" %>
          </h4>
          <% if (user?.profile.avatar) { %>
            <div>
              <a href="/profiles/<%= user?.profile._id %>">
                <img src="<%= user.profile.avatar %>" alt="<%= user.profile.name %> avatar" width="40" height="40" class="main-avatar"/>
              </a>
            </div>
            <% } %>
              <% if (!user) { %>
                  <a href="/auth/google" class="siwg-link">
                    <button type="submit" class="siwg">
                      <img id="siwg-image" alt="Sign in with Google" />
                    </button>
                  </a>
                  <% } %>
        </div>

      </nav>
