.main-profile {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
}

.myprofile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 40rem;
  color: rgb(118, 96, 131);
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgb(118, 96, 131);
  text-align: center;
  border-radius: 15px;
}

.logoutbtn {
  margin: 10px 0;
  justify-self: flex-end;
  padding: 1rem;
  border-radius: 15px;
  background-color: rgb(118, 96, 131);
  color: white;
  border: 1px solid white;
  font-weight: bold;
}
